Repository 00Pomery00/BMH-BlackBoxCRM: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-logs, frontend-lint, format-frontend

prevent-logs:
  name: Prevent committing runtime log or DB files
  entry: scripts/prevent-logs-commit.sh
  language: script

frontend-lint:
  name: Lint frontend via npm (ESLint)
  entry: npm --prefix web-frontend run lint
  language: system

format-frontend:
  name: Format frontend (Prettier + ESLint --fix)
  entry: npm --prefix web-frontend run format:fix
  language: system

chore: add TypeScript tooling and extra E2E test
  backend/bmh_audit.log
  web-frontend/.eslintrc.json
  web-frontend/e2e/tests/seed_and_run.spec.ts
  web-frontend/e2e/tests/seed_multiple.spec.ts
  web-frontend/package-lock.json
  web-frontend/package.json
  web-frontend/tsconfig.json
Due: prevent-logs, frontend-lint

ci: ensure prevent-logs script is executable on Linux runners
  .github/workflows/e2e.yml
  scripts/prevent-logs-commit.sh
Due: none

ci: remove runtime audit logs from repo
  bmh_audit.log
Due: prevent-logs

ci: bake VITE_API_URL into frontend build for E2E CI
  .github/workflows/e2e.yml
Due: none

ci: ignore downloaded artifacts and test-results
  .gitignore
  web-frontend/e2e/tests/login_and_create.spec.ts
  web-frontend/e2e/tests/seed_and_run.spec.ts
  web-frontend/e2e/tests/seed_multiple.spec.ts
  web-frontend/src/App.jsx
  web-frontend/src/components/Automations.jsx
  web-frontend/src/components/Dashboard.jsx
  web-frontend/src/components/GamificationPanel.jsx
  web-frontend/src/components/LeadDetail.jsx
  web-frontend/src/components/LeadList.jsx
  web-frontend/src/components/MapView.jsx
  web-frontend/test-results/.last-run.json
Due: frontend-lint, format-frontend

docs: add release notes summarizing E2E fixes and Czech i18n
  RELEASE_NOTES.md
Due: none

test(e2e): use data-testid; feat(ui): add stable data-testid attributes for E2E
  web-frontend/e2e/tests/login_and_create.spec.ts
  web-frontend/src/components/Dashboard.jsx
  web-frontend/src/components/LeadDetail.jsx
  web-frontend/src/components/LeadList.jsx
  web-frontend/src/components/ui/KpiCard.jsx
Due: frontend-lint, format-frontend

test(e2e): click lead open button to reliably open modal
  web-frontend/e2e/tests/login_and_create.spec.ts
Due: frontend-lint

ci(e2e): add GitHub Actions workflow to run Playwright E2E
  .github/workflows/e2e-playwright.yml
Due: none

ci(e2e): run workflow for repo master branch
  .github/workflows/e2e-playwright.yml
Due: none

ci: fix workflows - remove markdown fences and add placeholders for consolidated workflows
  .github/workflows/crm-smoke.yml
  .github/workflows/deploy-via-ssh.yml
  .github/workflows/e2e-playwright.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-images.yml
Due: none

ci: add ws-architect validator, fix workflows and docs (formatting applied)
  .github/workflows/architect-validate.yml
  .github/workflows/crm-smoke.yml
  .github/workflows/e2e-playwright.yml
  .scripts/architect_validate.py
  docs/ws-architect.md
Due: none

chore: add validation helpers, login component and archives (formatting applied)
  .scripts/validate_workflows.py
  archives/fenix-1.0-notes.txt
  archives/fenix-1.0.zip
  scripts/validate_workflows.py
  web-frontend/package-lock.json
  web-frontend/package.json
  web-frontend/postcss.config.cjs
  web-frontend/src/components/Login.jsx
Due: frontend-lint, format-frontend

fix(security): use timezone-aware datetimes (replace utcnow) and add CODEOWNERS for ws-architect (formatting applied)
  .github/CODEOWNERS
  backend/app/admin_automations.py
  backend/app/core/security.py
  backend/app/integrations.py
  backend/app/main.py
  backend/app/security.py
  backend/tests/test_webhook_dispatcher.py
Due: none

chore(pydantic): migrate class Config to model_config ConfigDict (Pydantic v2) (formatting applied)
  backend/app/schemas.py
  backend/app/schemas/auth.py
  backend/app/schemas/core.py
Due: none

chore(release): add changelog for fenix-1.0
  CHANGELOG-fenix-1.0.md
Due: none

chore(lint): set flake8 max-line-length=120 and ignore alembic migrations
  setup.cfg
Due: none

chore(lint): exclude local venvs and site-packages from flake8
  setup.cfg
Due: none

chore: fix flake8 E402 and wrap long SQL line
  backend/alembic/env.py
  backend/scripts/migrate_fu_users_to_users.py
Due: none

chore: tidy lint issues (app.py spacing, architect validate linewrap) and exclude node_modules from flake8
  .scripts/architect_validate.py
  app.py
  pip_audit_report.json
  secrets_history_matches.txt
  setup.cfg
Due: none

ci: fix alembic script_location for backend; tidy flake8 excludes and small lint fixes
  backend/alembic.ini
Due: none

chore(alembic): add merge revision to unify multiple heads for CI
  backend/alembic/versions/0006_merge_heads.py
Due: none

chore(alembic): remove unused import to satisfy flake8
  backend/alembic/versions/0006_merge_heads.py
Due: none

chore: remove committed test.db and ignore it (prevents CI applying migrations onto stale DB)
  .gitignore
Due: none

chore(repo): formatters updated files (black/isort) and add AI-team scaffolding
  .github/workflows/ai-team-complete.yml
  agents/code-guardian.js
  agents/multi-tenant-guard.js
  agents/test-oracle.py
  agents/trend-scout.py
  api/swagger.json
  backend/alembic/versions/0005_add_automation_flow.py
  backend/app/__init__.py
  backend/app/fastapi_users_impl.py
  backend/app/integrations.py
  compliance/nis2-report.md
  dashboard/team-complete.jsx
  docs/mkdocs.yml
  graphics/canva-api.js
  package.json
  roles/AI Architect.md
  roles/AI Trainer.md
  roles/Agentic Engineer.md
  roles/Agentic PO.md
  roles/Business Analyst.md
  roles/Data Engineer.md
  roles/Data Scientist.md
  roles/Documentation.md
  roles/Grafik.md
  roles/MLOps.md
  roles/Multi-Tenant Specialist.md
  roles/PM-Scrum.md
  roles/QA.md
  roles/Security.md
  roles/System Admin.md
  roles/Tech Lead.md
  roles/UI-UX.md
  team-complete.json
  templates/liftrock-presentation.README
Due: none

fix(security): truncate passwords to bcrypt 72-byte limit before hash/verify
  backend/app/core/security.py
Due: none

style: apply isort to fastapi_users_shim
  backend/app/fastapi_users_shim.py
Due: none

fix(security): use bcrypt_sha256 to avoid bcrypt 72-byte issues in CI
  backend/app/core/security.py
Due: none

fix(register): correct indentation for password logging and hashing
  backend/app/fastapi_users_shim.py
Due: none

fix(security): use pbkdf2_sha256 to avoid bcrypt backend issues in CI
  backend/app/core/security.py
Due: none

test(e2e): resolve dist/index.html reliably for CI working dir
  web-frontend/e2e/tests/seed_multiple.spec.ts
Due: frontend-lint

ci: fail loudly on frontend build and verify dist/index.html
  .github/workflows/ci.yml
Due: none

ci: use Node 20/22 for frontend build (Vite requires Node 20+)
  .github/workflows/ci.yml
Due: none

ci: don't run Playwright e2e in frontend-build (e2e runs in e2e-with-backend)
  .github/workflows/ci.yml
Due: none

ci: add matplotlib to backend requirements and use Node 20 base for frontend Dockerfile
  backend/requirements.txt
  web-frontend/Dockerfile
Due: frontend-lint

ci: add pandas to backend requirements
  backend/requirements.txt
Due: none

Path conditions:
  prevent-logs: any of: \.(log|db|bak|sqlite)$
  frontend-lint: any of: ^web-frontend/
  format-frontend: any of: ^web-frontend/(src|public)/
